@charset "utf-8";

// Import fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

// Colors
$pink: #DB5D78;

// Global variables
$link: $pink;
$family-sans-serif: "Nunito", sans-serif;

// Component variables
$navbar-height: 5rem;

// Import Bulma
@import "../node_modules/bulma/bulma.sass";